/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white; /* Set background color to white */
  color: black; /* Set default text color to black */
}

a {
  text-decoration: none;
  color: inherit;
}

/* Fade-in animation for each section */
.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

/* Define the fadeIn keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Ensure sections fade in smoothly */
#about,
#packages,
#testimonials {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
  animation-delay: 0.5s;
}
/* src/App.css */
@import '@fortawesome/fontawesome-free/css/all.min.css';

